<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.buspasssystem">

    <uses-permission android:name="android.permission.CAMERA" android:requiredFeature="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PassDisplay"></activity>
        <activity
            android:name=".Student"
            android:label="Student Page"></activity>
        <activity
            android:name=".Admin"
            android:label="Admin Home" />
        <activity
            android:name=".MakePass"
            android:label="Make Pass" />
        <activity
            android:name=".GetPass"
            android:label="Get Pass" />
        <activity
            android:name=".DisplayAll"
            android:label="Display All Records" />
        <activity
            android:name=".Register"
            android:label="Register" />
        <activity
            android:name=".Login"
            android:label="Bus Pass">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Tnp Bus Pass Genrator"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.test.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>


</manifest>